<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.allada.phonegap.webinterface"
      version="0.1.0">
    <name>Web Interface</name>

    <!-- ios -->
    <platform name="ios">
		<js-module src="www/ScannerLib-Linea-2.0.0.js" name="ScannerDevice">
			<clobbers target="ScannerDevice" />
		</js-module>
		<config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
			<array>
				<string>com.datecs.linea.pro.msr</string>
				<string>com.datecs.linea.pro.bar</string>
			</array>
		</config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="LineaDevice">
                <param name="ios-package" value="CDVLineaDevice" />
            </feature>
        </config-file>
        <header-file src="src/CDVLineaDevice.h" />
	    <source-file src="src/CDVLineaDevice.m" />

		<header-file src="src/DTDevices.h" />
		<source-file src="src/libdtdev.a" framework="true"/>
		<framework src="ExternalAccessory.framework" />
    </platform>
</plugin>